@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow-x: hidden;
  /* I will put overscroll x hidden so i dont see it in my transitions */
}

body {
  background-color: whitesmoke;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eff0ff;
}

::-webkit-scrollbar-thumb {
  background: #0f172a;
}

::selection {
  color: black;
  background: #772C7A;
}

.realisticshadow {
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

@font-face {
  font-family: "Sarina";
  src: local("Sarina-Regular"),
    url("./fonts/Sarina-Regular.ttf") format("truetype");
}

.font-sarina {
  font-family: "Sarina";
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: local("PlayfairDisplay-Regular"),
    url("./fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf")
      format("truetype");
}

.font-playfair-reg {
  font-family: "PlayfairDisplay-Regular";
}

@font-face {
  font-family: "PlayfairDisplay-Medium";
  src: local("PlayfairDisplay-Medium"),
    url("./fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf") format("truetype");
}

.font-playfair-reg {
  font-family: "PlayfairDisplay-Medium";
}

@font-face {
  font-family: "Gotham";
  src: local("GothamLight"), url("./fonts/GothamLight.ttf") format("truetype");
}

.font-gotham {
  font-family: "Gotham";
}

.shadow1 {
  box-shadow: 3.3px 6.6px 6.6px hsl(0deg 0% 0% / 0.4);
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.shadow1:hover {
  box-shadow: 7.2px 14.4px 14.4px hsl(0deg 0% 0% / 0.28);
}
